<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="true">
    	<testsuites>
        	<testsuite name="MGL846 - Demo PHPUnit">
            		<directory>./tests/</directory>
        	</testsuite>
    	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
    			<directory suffix=".php">src/</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-html" target="couverture" lowUpperBound="35" highLowerBound="70"/>
	</logging>
</phpunit>
